<footer class="navbar navbar-light bg-light fixed-bottom rounded">
  <small>
    Call for Code 2019 by <a href="http://www.sbs-infosys.co.jp/">SBS情報システム</a>
  </small>
  <nav class="nav mt-0">
    <ul>
      <small>
        <li><%= link_to "PK-Tools on Webについて", "#" %></li>
        <li><%= link_to "連絡先", "#" %></li>
      </small>
    </ul>
  </nav>
</footer>